# Database connection string
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>?schema=<schema>"

# Secret key for authentication
AUTH_SECRET="<your_auth_secret>"

# Public API URL for the frontend to connect to the backend
NEXT_PUBLIC_API_URL="http://<host>:<port>/graphql"
